# Dependencies
node_modules/
.pnp
.pnp.js

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
apps/web/.next/
apps/web/out/

# Expo / React Native
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/android/
apps/mobile/ios/
*.apk
*.aab
*.ipa

# Misc
.DS_Store
*.pem
.vercel
